*{
    margin: 0;
    padding: 0;
}
.photo_dessus{
    background-image: url("./img/");
    background: no-repeat;
    width: 400px;
    height: 400px;
}

/* bouton rouge avec border radius */
.foot_button{
    color: white;
    background-color: red;
    border-radius: 30px;
    height: 35px;
    width: 100px;
    border: 0;
}
/* background gris claire*/
.foot-background{
    background-color: rgb(243, 243, 243);
}
/* Centre les inputs avec le bouton*/
.footer_formulaire{
   display:row;
   margin: 15px;
   padding: 1%;
}
/* design des inputs suppression bordure */
.styleinput{
    background-color:transparent;
    border:none; 
    border-bottom: solid;
    border-bottom-color: rgb(197, 193, 193);
    width: 25%;
}
/* Configuration input */
.area_of_interest{
    background-color:transparent;
    border:none; 
    border-bottom: solid;
    border-bottom-color: rgb(197, 193, 193);
    width: 25%;
}
/*creation d'un bandeau gris en bas */
div.footer_bandeau{
    display: flex;
   justify-content: space-around;
   background-color: rgb(243, 243, 243);
    height: 35px;
}
/* suppression soulignement et couleur lien web  */
a{
    text-decoration: none;
    color:#000;
}
/* mise a colonne des liens Made with*/
div.footer_bandeau2{
    display: flex;
    flex-direction: flex-start;
}
/* centrage des logos reseau sociaux */
.foot_logo{
    width: 1284px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
}
/* opcatity logo reseau sociaux a finir !! */
.foot_logo:hover{
    zoom: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
/* ajuste la taille des H6 */
h6{
    font-size: 15px;
}
h2{
    font-size: 32px;
}
/* lien footer*/
div.footer_center{
    width: 1284px;
    height: 400px;
    background-color: rgb(114, 114, 170);
   display: flex;
   flex-direction: row;    
}
div.foot1{
    display: flex;
    flex-direction: column;
   /* padding: 80px;*/
    margin: 20px;
    border-color:rgb(252, 252, 252);
    padding: 1% 3%;
}
div.foot2{
    display: flex;
    flex-direction: column;
  /*  padding: 80px;*/
    margin: 20px;
    border-color:blue;
    padding: 1% 3%;
}
div.foot3{
    display: flex;
    flex-direction: column;
  /*  padding: 80px;*/
    margin: 20px;
    border-color:blue;
    padding: 1% 3%;
}
div.foot4{
    display: flex;
    flex-direction: column;
  /*  padding: 80px;*/
    margin: 20px;
    border-color:blue;
    padding: 1% 3%;
}
p{
    text-align: center;
}
div.texte_formulaire{
    display: flex;
    flex-direction: row
}